[Unit]
Description=TM1637 Temperature Display Service
StartLimitIntervalSec=86400
StartLimitBurst=2

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/tm1637_temperature
Restart=always
RestartSec=600
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
